.ground-edit-product {
	padding-left: 270px;
}
.ground-edit-product .container-edit-product {
	position: relative;
	margin: 20px;
	padding: 20px 0;
	min-height: 45vh;
	box-shadow: 0 1px 6px rgb(239 233 242);
	border: 1px solid rgba(0, 0, 0, 0.15);
	background: #ffff;
	display: block;
	text-align: center;
	border-radius: 8px;
}
.ground-edit-product .container-edit-product h4 {
	margin-bottom: 10px;
	color: #4a5568;
	border-bottom: 1px solid #d0cfcf;
	padding-bottom: 15px;
}
.ground-edit-product .container-edit-product h3 {
	color: #4a5568;
	font-size: 1.2em;
	font-weight: 550;
	text-align: center;
	text-transform: uppercase;
	padding-top: 5px;
}

.ground-edit-product .container-edit-product .from-edit-product {
	padding: 20px 40px;
}

@media screen and (max-width: 1000px) {
	.ground-edit-product {
		padding-left: 0;
	}
}
@media screen and (max-width: 768px) {
	.ground-edit-product .container-edit-product {
		margin: 20px 10px;
	}
	.ground-edit-product .container-edit-product .from-edit-product {
		padding: 20px;
	}
}
