.container-loading-component-page {
  margin: auto;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 103;
  background: rgb(0 0 0 / 74%);
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.container-loading-component-page .spinner-page.spinner-large-page {
  width: 35px;
  height: 35px;
  text-align: center;
  margin: 20px auto;
  left: 50%;
  top: 40%;
  position: absolute;
}
.container-loading-component-page .spinner-page.spinner-large-page .spinner-blade-page {
  top: 11.5px;
  left: 15px;
  width: 5px;
  height: 12px;
  border-radius: 2.5px;
}

.spinner-page .spinner-blade-page {
  position: absolute;
  top: 6.5px;
  left: 8.5px;
  width: 2.5px;
  height: 6.5px;
  background-color: #ffff;
  border-radius: 1.25px;
  -webkit-animation: SpinnerBlade 1s linear infinite;
  animation: SpinnerBlade 1s linear infinite;
  will-change: opacity;
}
.spinner-page .spinner-blade-page:nth-child(1) {
  -webkit-transform: rotate(45deg) translateY(-6.5px);
  transform: rotate(45deg) translateY(-6.5px);
  -webkit-animation-delay: -1.625s;
  animation-delay: -1.625s;
}
.spinner-page .spinner-blade-page:nth-child(2) {
  -webkit-transform: rotate(90deg) translateY(-6.5px);
  transform: rotate(90deg) translateY(-6.5px);
  -webkit-animation-delay: -1.5s;
  animation-delay: -1.5s;
}
.spinner-page .spinner-blade-page:nth-child(3) {
  -webkit-transform: rotate(135deg) translateY(-6.5px);
  transform: rotate(135deg) translateY(-6.5px);
  -webkit-animation-delay: -1.375s;
  animation-delay: -1.375s;
}
.spinner-page .spinner-blade-page:nth-child(4) {
  -webkit-transform: rotate(180deg) translateY(-6.5px);
  transform: rotate(180deg) translateY(-6.5px);
  -webkit-animation-delay: -1.25s;
  animation-delay: -1.25s;
}
.spinner-page .spinner-blade-page:nth-child(5) {
  -webkit-transform: rotate(225deg) translateY(-6.5px);
  transform: rotate(225deg) translateY(-6.5px);
  -webkit-animation-delay: -1.125s;
  animation-delay: -1.125s;
}
.spinner-page .spinner-blade-page:nth-child(6) {
  -webkit-transform: rotate(270deg) translateY(-6.5px);
  transform: rotate(270deg) translateY(-6.5px);
  -webkit-animation-delay: -1s;
  animation-delay: -1s;
}
.spinner-page .spinner-blade-page:nth-child(7) {
  -webkit-transform: rotate(315deg) translateY(-6.5px);
  transform: rotate(315deg) translateY(-6.5px);
  -webkit-animation-delay: -0.875s;
  animation-delay: -0.875s;
}
.spinner-page .spinner-blade-page:nth-child(8) {
  -webkit-transform: rotate(360deg) translateY(-6.5px);
  transform: rotate(360deg) translateY(-6.5px);
  -webkit-animation-delay: -0.75s;
  animation-delay: -0.75s;
}

.container-loading-component-page
  .spinner-page.spinner-large-page
  .spinner-blade-page:nth-child(1) {
  -webkit-transform: rotate(45deg) translateY(-11.5px);
  transform: rotate(45deg) translateY(-11.5px);
}
.container-loading-component-page
  .spinner-page.spinner-large-page
  .spinner-blade-page:nth-child(2) {
  -webkit-transform: rotate(90deg) translateY(-11.5px);
  transform: rotate(90deg) translateY(-11.5px);
}
.container-loading-component-page
  .spinner-page.spinner-large-page
  .spinner-blade-page:nth-child(3) {
  -webkit-transform: rotate(135deg) translateY(-11.5px);
  transform: rotate(135deg) translateY(-11.5px);
}
.container-loading-component-page
  .spinner-page.spinner-large-page
  .spinner-blade-page:nth-child(4) {
  -webkit-transform: rotate(180deg) translateY(-11.5px);
  transform: rotate(180deg) translateY(-11.5px);
}
.container-loading-component-page
  .spinner-page.spinner-large-page
  .spinner-blade-page:nth-child(5) {
  -webkit-transform: rotate(225deg) translateY(-11.5px);
  transform: rotate(225deg) translateY(-11.5px);
}
.container-loading-component-page
  .spinner-page.spinner-large-page
  .spinner-blade-page:nth-child(6) {
  -webkit-transform: rotate(270deg) translateY(-11.5px);
  transform: rotate(270deg) translateY(-11.5px);
}
.container-loading-component-page
  .spinner-page.spinner-large-page
  .spinner-blade-page:nth-child(7) {
  -webkit-transform: rotate(315deg) translateY(-11.5px);
  transform: rotate(315deg) translateY(-11.5px);
}
.container-loading-component-page
  .spinner-page.spinner-large-page
  .spinner-blade-page:nth-child(8) {
  -webkit-transform: rotate(360deg) translateY(-11.5px);
  transform: rotate(360deg) translateY(-11.5px);
}

@-webkit-keyframes SpinnerBlade {
  0% {
    opacity: 0.85;
  }
  50% {
    opacity: 0.25;
  }
  100% {
    opacity: 0.25;
  }
}

@keyframes SpinnerBlade {
  0% {
    opacity: 0.85;
  }
  50% {
    opacity: 0.25;
  }
  100% {
    opacity: 0.25;
  }
}
