@import url("https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nerko+One&display=swap");
*,
::after,
::before {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	outline: none;
	transition: all 0.3s ease-in-out;
}
img {
	object-fit: contain;
}
button {
	cursor: pointer;
}
title {
	text-transform: capitalize;
}
a {
	text-decoration: none;
	cursor: pointer;
}
ul {
	list-style: none;
}
body.active {
	overflow: hidden;
}
body {
	font-size: 16px;
	font-weight: 400;
	background: #f3f2ef;
	line-height: 1.5;
	font-family: Roboto, Helvetica, Arial, sans-serif;
}
#root {
	width: 100%;
	position: relative;
}
.ant-empty-description {
	color: rgba(95, 95, 95, 0.719) !important;
}
.ant-pagination {
	padding: 20px 0 !important;
}

/* path */
path {
	stroke: rgb(254, 211, 48);
	stroke-width: 3px;
}
.group-nofuound path {
	stroke: none;
	stroke-width: 3px;
}
/*-------------------Start scrollTop -------------------*/

button.scrollTop {
	background: #06c1d4;
	color: #ffffff;
	font-size: 24px;
	height: 40px;
	line-height: 37px;
	text-align: center;
	width: 40px;
	border-radius: 50%;
	-webkit-transition-duration: 500ms;
	position: fixed;
	transition-duration: 500ms;
	border: none;
	bottom: 0;
	right: 30px;
	outline: none;
	opacity: 0;
	cursor: pointer;
	transition: 0.3s ease-out;
	z-index: 99;
}
button.scrollTop.active {
	opacity: 1;
	bottom: 15px;
}
::-webkit-scrollbar {
	width: 6px;
	transition: 0.3s ease-in;
}
::-webkit-scrollbar-track {
	border: 5px solid #f1f1f1;
}
::-webkit-scrollbar-thumb {
	background: #06c1d4;
	border-radius: 3px;
	z-index: 100;
}
.group-start-review {
	text-align: center;
}
.group-start-review p {
	color: #353b48b4;
	font-size: 14px;
	font-weight: 500;
	text-transform: capitalize;
	margin: 8px 0;
}

@media screen and (max-width: 780px) {
	h2#swal2-title {
		font-size: 1em;
	}
}

@media screen and (max-width: 488px) {
	.slick-next,
	.slick-prev {
		width: 20px;
		height: 50px;
	}
	.slick-next:before,
	.slick-prev:before {
		font-size: 15px;
	}
}
@media screen and (max-width: 350px) {
	.group-start-review .star-container {
		padding-right: 0px !important;
	}
}
@media screen and (max-width: 320px) {
	.slick-next,
	.slick-prev {
		width: 18px;
		height: 45px;
	}
	.slick-next:before,
	.slick-prev:before {
		font-size: 13px;
	}
}
